.box {
    display: flex;
    position: relative;
    background: transparent;
    width: 100px;
    height: 100px;
  }

  .one{
      height: 400px;
      width: 1000px;
      padding-bottom: 5px;
      border-style: dotted;
      padding: 1px;
      margin-bottom: 7px
  }

  #one {
    top: 20px;
    left: 20px;
    border: 2px solid red
  }

  #two {
    top: 50px;
    left: 150px;
    border: 2px solid blue
  }

  #three {
    top: 80px;
    left: 280px;
    border: 2px solid green
  }

.two{
    height: 250px;
    width: 1000px;
    border-style: dotted;
    padding: 1px;
    margin-bottom: 7px;
  }

  #one1 {
    top: 20px;
    left: 0px;
    background-color: red;
  }

  #two1 {
    top: -25px;
    left: 50px;
    background-color: blue
  }

  #three1 {
    top: -70px;
    left: 100px;
    background-color: green
  }

  .three{
    height: 300px;
    width: 1000px;
    border-style: dotted;
    padding: 1px
  }

  #one11 {
    top: 20px;
    left: 0px;
    z-index: 0;
    background-color: red;
  }

  #two11 {
    top: -10px;
    left: 50px;
    z-index: 1;
    background-color: blue
  }

  #three11 {
    top: -40px;
    left: 100px;
    z-index: 0;
    background-color: green
  }